.header {
  padding: 18px 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.title {
  font-family: Avenir;
  font-size: 26px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 33px;
}

.text {
  font-family: Avenir;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background-color: #f4f4f4;
  margin-bottom: 33px;
  padding: 0 10px;
  border: none;
}
input:focus {
  outline: none;
}

.submit-btn {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #F8BD1C;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 800;
}
.submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.board {
  padding: 30px 17px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 26px;
  margin: 16px 16px;
  padding: 16px 16px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.board__menu {
  width: 20%;
  height: 6px;
  padding-right: 10px;
  cursor: pointer;
}
.board__body {
  width: 80%;
  margin-bottom: 6px;
}
.board__title {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-bottom: 6px;
  underline: none;
}
.board__content {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  padding-bottom: 30px;
}
.board_detail {
  padding-top: 10px;
  font-size: 12px;
  position: relative;
  text-align: right;
}
.board_detail img {
  cursor: pointer;
  border-radius: 100%;
  margin-right: 16px;
}
.board_actions {
  text-align: center;
}

.board_detail_actions {
  width: 70px;
  text-align: right;
  margin-right: 0;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content.mini {
  min-width: 100px;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: #616161;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: rgb(241, 245, 247);
  font-size: 1em;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: #8AC542;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.float_btn i {
  margin-top: 22px;
}

.notice {
  color: red;
  text-align: center;
}

.alert {
  color: red;
  text-align: center;
}

.sectionTitle {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  color: #000000;
  margin-bottom: 35px;
}

.eyecatch img {
  width: 85px;
  height: 85px;
}