.header {
  padding: 18px 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}