.task {
  background: #F4F4F4;
  border-radius: 10px;
  margin: 24px 30px;
  padding: 20px;
}
.task__eyecatch {
  border-radius: 8px;
  margin-bottom: 27px;
}
.task__eyecatch img {
  max-width: 100%;
}
.task__title {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
}
.task__commentInfo {
  display: flex;
  justify-content: space-between;
}
.task__commentUsers {
  display: flex;
}

.newTask {
  padding: 30px 17px;
  background: #fff;
  border-radius: 10px;
  margin: 24px 30px 24px 30px;
  padding: 16px 16px;
  height: 160px;
  border: dotted #F4F4F4;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
.newTask:hover {
  opacity: 0.8;
}
.newTask a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.newTask a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.task__menu {
  text-align: right;
  display: block;
}

.comments {
  margin-top: 50px;
}
.comments__title {
  font-family: Avenir;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  margin-bottom: 25px;
}
.comments__comment {
  display: flex;
}
.comments__icon {
  margin-right: 16px;
}
.comments__icon img {
  width: 40px;
  height: 40px;
}
.comments__text {
  font-family: Avenir;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  margin-bottom: 32px;
}

.newComment {
  padding: 30px 17px;
  background: #fff;
  border-radius: 10px;
  margin: 24px 30px 24px 30px;
  padding: 16px 16px;
  height: 80px;
  border: dotted #F4F4F4;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
.newComment:hover {
  opacity: 0.8;
}
.newComment a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.newComment a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}