@import 'variables';
@import 'header';
@import 'form';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  background-color:#ffffff;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: $primary-color;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}

.notice {
  color: red;
  text-align: center;
}

.alert {
  color: red;
  text-align: center;
}

.sectionTitle {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  color: #000000;
  margin-bottom: 35px;
}

.board {
  padding: 30px 17px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 26px;
  &__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  &__title{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  &__menu{
    width: 6px;
    height: 6px;
    padding-right: 50px;
    cursor: pointer;
  }
  &__dropbtn{

  }
  &__dropdownContent{
   display: none;
  }
  &__content{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
    margin-bottom: 30px;
  }
}

/*クリックで中身を表示*/
.board__dropbtn:hover .board__dropdownContent {
  display: block;
}