@import './variables';

.board {
  padding: 30px 17px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 26px;
  margin: 16px 16px;
  padding: 16px 16px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__menu{
    width: 20%;
    height: 6px;
    padding-right: 10px;
    cursor: pointer;
  }
  &__body{
    width: 80%;
    margin-bottom: 6px;
  }
  &__title{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 6px;
  }
  &__content{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
    padding-bottom: 30px;
  }

  &_detail {
    padding-top: 10px;
    font-size: 12px;
		position: relative;
    text-align: right;

    img {
			cursor: pointer;
      border-radius: 100%;
      margin-right: 16px;
    }
  }

	&_actions {
		text-align: center;
	}
}

.board_detail_actions{
  width: 70px;
  text-align: right;
  margin-right: 0;
}

.newBoard {
  padding: 30px 17px;
  background: #fff;
  border-radius: 10px;
  margin: 16px 16px;
  margin-bottom: 50px;
  padding: 16px 16px;
  height: 160px;
  border: dotted #F4F4F4;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.8;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    // transform: translateY(-50%) translateX(-50%);

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.dropbtn {
	border: none;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}